h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.h1 {
  position: absolute;
  padding-left: 100px;
  padding-top: 15px;
}
.nav ul {
  display: inline-flex;
  float: right;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  list-style: none;
}
li {
  padding: 27px 40px 30px 20px;
}
.pro {
  margin-top: -12px;
  width: 50px;
  height: 50px;
}
.right {
  position: absolute;
  display: flex;
  flex-direction: column;
}
#img1 {
  background-color: #e06c6c;
  padding: 13px;
  border-radius: 50px;
  margin-top: 330px;
  margin-left: 100px;
}
#img2 {
  background-color: #e06c6c;
  padding: 13px;
  border-radius: 50px;
  margin-top: 30px;
  margin-left: 100px;
}
.c {
  position: absolute;
  padding: 100px 50px 20px 220px;
}
.orderpara {
  color: #bfbfbf;
  position: relative;
  padding: 190px 5px 5px 900px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.orderpara span {
  color: #e06c6c;
  font-size: 38px;
}

.order {
  position: relative;
  margin: 0px 0px 0px 900px;
}
#circ {
  position: absolute;
  background-color: #e06c6c;
  padding: 40px 40px 40px 40px;
  border-radius: 50px;
  margin: -56px 5px 3px 8px;
  z-index: -1;
}
.order h2 {
  margin: 35px 0px 0px 50px;
}
#fh2 {
  color: #e06c6c;
  margin: 60px;
  text-align: center;
}
footer {
  color: #999999;
  display: flex;
  text-align: center;
  padding-bottom: 100px;
}
.d1 {
  text-align: left;
  margin: 0 110px 0 110px;
}
.d2 {
  text-align: center;
  margin: 0 110px;
}
.d3 {
  text-align: right;
  margin: 0 110px;
}
